<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base/layout.html">

<body>

<footer th:fragment="footer" class="text-center" style="height: 50px;width: 100%;background: linear-gradient(0deg, white, white 60%, transparent);font-size: 12px;transform: translate(-50%, -50%);left: 50%;position: fixed;bottom: -25px;">
	<label class="mt-4">@ Study Abroad Service Center</label>
</footer>

</body>
</html>